body
{
    margin: 0;
    background-color: #e4dfec;
}

#header
{
    height: 235px;
    margin-top: 0;
    padding: 10px;
    background-color: #27232e;
}

#navbar
{
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: rgba(60, 50, 90, 0.8);
    border-radius: 25px 25px 35px 35px;
    width: 50%;
    margin: auto;
    height: 30px;
    text-align: center;
    opacity: 0;
    transform: translateY(-100%);
    transition: 0.3s ease;
}

#navbar.active
{
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0 0 100px 15px rgb(169, 105, 243);
}